/* 购物车动画 */
.ball-wrap{
  pointer-events: none;
  position: relative;
  z-index: 999;
}
.ball-img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

/* .ball-entered{
  transition: 1s cubic-bezier(.17,.67,.51,1.25);
} */
.ball-img-entered{
  transition: '0.6s cubic-bezier(.43,0,.95,0)'
}
